<!DOCTYPE html>
<html>
<div th:replace="fragments/general.html :: head"></div>
<body>
	<div id="body">
		<div th:replace="fragments/general.html :: header"></div>
		<div id="main-content">
			<section class="mt-5">
				<div class="content">
					<div class="columns">
						<div class="column is-12">
							<h1>Détails des ventes</h1>
							<div class="columns">
								<div class="column is-4">
									<form class="is-flex">
										<button id="btn-prev" class="button is-small">Préc.</button>
										<div class="field">
										  <div class="control">
											<input id="selected-date" class="input is-small" th:value="${today}" type="date">
										  </div>
										</div>
										<button id="btn-next" class="button is-small">Suiv.</button>
										<!-- <button id="btn-validate" class="button is-primary is-small">Valider</button> -->
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="columns">
						<div class="column is-4">
							<div class="card">
								<div class="card-content">
									<div class="content">
										<h2 class="title is-4" id="stat-sum-selling-amount"></h2>
										<p>
											<i class="fas fa-chart-line mr-1"></i>Total des ventes - MGA
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="column is-4">
							<div class="card">
								<div class="card-content">
									<div class="content">
										<h2 class="title is-4"  id="stat-count-selling"></h2>
										<p>
											<i class="fas fa-chart-line mr-1"></i>Nombre de ventes
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="column is-4">
							<div class="card">
								<div class="card-content">
									<div class="content">
										<h2 class="title is-4"  id="stat-avg-selling-amount"></h2>
										<p>
											<i class="fas fa-chart-line mr-1"></i>Montant moyen des ventes - MGA
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="columns">
						<div class="column is-12">
							<div class="card">
								<div class="card-content">
									<canvas id="chart-report-amount-by-hours"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div th:replace="fragments/general.html :: footer"></div>
		<script type="text/javascript" th:src="@{/js/statistics/daily.js}"></script>
	</div>
</body>
</html>

<!-- 
<div class="columns">
	<div class="column is-4">
		<div class="card">
			<div class="card-content">
				<div class="content">
					<h2 class="title is-4" th:text="${product_count}" />
					<p>
						<i class="fas fa-chart-line mr-1"></i>Nombre de produits
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="column is-4">
		<div class="card">
			<div class="card-content">
				<div class="content">
					<h2 class="title is-4" th:text="${category_count}" />
					<p>
						<i class="fas fa-chart-line mr-1"></i>Nombre de catégories
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="column is-4">
		<div class="card">
			<div class="card-content">
				<div class="content">
					<h2 class="title is-4" th:text="${table_count}" />
					<p>
						<i class="fas fa-chart-line mr-1"></i>Nombre de tables
					</p>
				</div>
			</div>
		</div>
	</div>
</div> -->