<!DOCTYPE html>
<html>
<div th:replace="fragments/general.html :: head"></div>
<body>
	<div id="body">
		<div th:replace="fragments/general.html :: header"></div>
		<div id="main-content">
			<div class="column is-full">
				<div class="columns">
					<div class="column is-12">
						<h1 class="title">Tables</h1>
						<div class="field">
							<a class="button is-small" th:href="@{/back/insert-table}"><i
								class="fas fa-plus mr-1"></i>Nouveau</a>
						</div>
						<form method="get" action="#"
							class="is-flex my-2 is-justify-content-space-between">
							<input name="page" type="hidden" value="" />
							<div class="is-flex">
								<div class="field">
									<div class="control">
										<input id="name" name="user-name" value=""
											class="input is-small" type="text" placeholder="Nom...">
									</div>
								</div>
								<div class="field">
									<button class="button is-small">Valider</button>
								</div>
							</div>
							<div class="is-flex is-justify-content-flex-end">
								<form>
									<div class="field">
										<div class="control">
											<div class="select is-small">
												<select name="nb-rows" id="number-rows">
													<option value="1">1</option>
												</select>
											</div>
										</div>
									</div>
								</form>
							</div>
						</form>
						<table
							class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
							<thead>
								<tr>
									<th>Nom</th>
									<th>Entreprise</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tbl: ${tables}">
									<td th:text="${tbl.getName()}" />
									<td th:text="${tbl.getId_affiliate()}" />
								</tr>
						</table>
						<nav th:if="${numberpages > 0}" class="pagination is-centered"
							role="navigation" aria-label="pagination">
							<a th:href="@{/back/tables(page=${prev})}"
								class="pagination-previous">Précédent</a> <a
								th:href="@{/back/tables(page=${next})}" class="pagination-next">Suivant</a>
							<ul class="pagination-list">
								<li th:each="iter: ${#numbers.sequence(1, __${numberpages}__)}">
									<a th:classappend="${(iter-1== page) ? 'is-current': ''}"
									th:href="@{/back/tables(page=${iter-1})}" th:text="${iter}"
									class="pagination-link">-1</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments/general.html :: footer"></div>
	</div>
</body>
</html>
