
<!DOCTYPE html>
<html>
<head th:fragment="head">
<title>Back-Office Restaurant</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{/css/bulma.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
	<div th:fragment="header">
		<div id="sidebar" class="main-color">
			<aside class="menu">
				<nav class="navbar main-color is-flex is-justify-content-center"
					role="navigation" aria-label="main navigation">
					<div class="navbar-brand">
						<a class="navbar-item" th:href="@{/}"> <img
							th:src="@{/images/logo.jpg}" alt="Smmec">
						</a>
					</div>
				</nav>
				<div sec:authorize="isAuthenticated()" >
					<div sec:authorize='hasAuthority("adm")'>
						<p class="menu-label">Tableau de bord</p>
						<ul class="menu-list">
							<li><a th:classappend="${(curr== 'stat') ? 'is-active': ''}" th:href="@{/back/statistics}">Statistiques</a></li>
						</ul>
					</div>
					<p class="menu-label">Produits</p>
					<ul class="menu-list">
						<li><a th:classappend="${(curr== 'prd') ? 'is-active': ''}"
							th:href="@{/back/products}">Liste</a></li>
					</ul>
					<p class="menu-label">Catégories</p>
					<ul class="menu-list">
						<li><a
							th:classappend="${(curr== 'prdcateg') ? 'is-active': ''}"
							th:href="@{/back/productcategories}">Liste</a></li>
					</ul>
					<p class="menu-label">Tables</p>
					<ul class="menu-list">
						<li><a th:classappend="${(curr== 'tbl') ? 'is-active': ''}"
							th:href="@{/back/tables}">Liste</a></li>
					</ul>
				</div>
			</aside>
		</div>
		<div id="header">
			<nav class="navbar main-color">
				<div class="navbar-end">
					

					<div sec:authorize="!isAuthenticated()" class="navbar-item">
						<a th:href="@{/login}"
							class="button is-small">Se connecter
						</a>
					</div>

					<div  sec:authorize="isAuthenticated()" class="navbar-item">
						<div class="navbar-item">
							 <button th:text ="${#authentication.getPrincipal().getUser().getName()}" class="button" disabled></button>
						</div>
						<form method="post" th:action="@{/perform_logout}">
							<div class="field is-grouped">
								<p class="control">
									<button type="submit" class="button is-small">
										<span>Se déconnecter</span>
									</button>
								</p>
							</div>
						</form>
					</div>
				</div>
			</nav>
		</div>
		<div th:if="${error != null}">
			<div th:if="${error != ''}"
				class="columns mt-2 is-mobile is-centered">
				<div class="column is-half">
					<article class="message is-danger">
						<div class="message-header">
							<p>Erreur</p>
						</div>

						<div class="message-body">
							<p th:text="${error}" />
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>

	<div class="content" th:fragment="footer">
		<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/chart.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/app.js}"></script>
	</div>
</body>
</html>
