/* SIDEBAR */
#sidebar {
	position: fixed;
	width: 175px;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
}

#sidebar img {
	height: 50px !important;
	min-height: 50px !important;
	max-height: 50px !important;
}

#sidebar .navbar .navbar-item {
	padding: 5px;
}

#sidebar .menu .menu-label {
	padding-left: 5px;
	color: white !important;
	font-weight: bold;
	text-decoration: underline;
}


/* CHART */

/* HEADER */
#header .navbar {
	height: 100%;
}

#header {
	margin-left: 175px;
	min-height: 60px !important;
	max-height: 60px !important;
	height: 60px !important;
}

/* MAIN CONTENT */
#main-content {
	padding: 7px 17px 17px 0px;
	margin-left: 195px;
	overflow-x: auto;
}

/* INPUT */
.field-label {
	min-width: 100px !important;
}

/* CARD */
.content {
	/* text-align: center; */
}

/* CONSTANTS */
.red-smmec {
	background-color: rgb(224, 32, 64);
}

.main-color {
	background-color: #C48252;
}

.grey-smmec {
	background-color: rgb(119, 119, 119);
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {}