<!DOCTYPE html>
<html>
    <div th:replace="fragments/general.html :: head"></div>
    <body>
    	<div id="body">
	        <div th:replace="fragments/general.html :: header"></div>
	        <div id="main-content">
	            <section class="mt-5">
		            <div class="content">
		                <div class="columns is-mobile is-centered">
		                    <div class="column is-narrow">
		                        <p>Hello everyone, this is a login page</p>
		                    </div>
		                </div>
		            </div>
		        </section>
	        </div>
	        <div th:replace="fragments/general.html :: footer"></div>
        </div>
    </body>
</html> 
